<p>forinputstask works!</p>
<input type="text" placeholder="Enter some text"#name>
<button class="btn btn-secondary "(click)="senddata(name)">clickher for call subjectOperator</button>
<p>{{fromsubjectdata}}</p>


<p>this inputs for mathamatical operations</p>
<input type="number" id="number1" [(ngModel)]="number1"><br/>+<br/>
<input type="number" id="number2"[(ngModel)]="number2">
<button (click)="additiondata()">click for add</button>
<p >{{cal}}</p>
----------------------------------------------------<br/>
<input type="text" #a>
  <p>{{textinput}}</p>  
  <button (click)="getvalue(a.value)">clickfortext</button>  

 
